.animated-text-block {
    z-index: 1;
    max-width: 1000px;
    min-width: 400px;
    width: 100%;
    padding-left: 25px;
    padding-right: 25px;
    background-color: rgba(0, 0, 0, 0.75);
    display: table;
}
.animated-text-block::before, .animated-text-block::after {
    content: "";
    position: absolute;
    width: 100px;
    height: 100px;
    border: solid aqua;
    border-width: 2px 0 0 2px;
    display: block;
}
.animated-text-block::before {
    left: 7.5px;
    top: 7.5px;
}
.animated-text-block::after {
    border-width: 0 2px 2px 0;
    bottom: 7.5px;
    right: 7.5px;
}
.animated-text-block span {
    z-index: 1;
    width: 100%;
    display: block;
}
.animated-text-block span::before, .animated-text-block span::after {
    content: "";
    position: absolute;
    width: 100px;
    height: 100px;
    border: solid aqua;
    border-width: 2px 2px 0 0;
    display: block;
}
.animated-text-block span::before {
    right: 7.5px;
    top: 7.5px;
}
.animated-text-block span::after {
    border-width: 0 0 2px 2px;
    bottom: 7.5px;
    left: 7.5px;
}

.animated-text-block p {
    color: white;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 2px;
    max-width: 1000px;
    min-width: 400px;
    width: 100%;
    text-align: justify;
    z-index: 1;
}
