.div-extended-border .background,
.div-extended-border .border-horizontal,
.div-extended-border .border-vertical {
    background-color: none;
    box-sizing: border-box;
    z-index: 1;
    width: 0;
    height: 0;
    position: fixed;
}
.div-extended-border .background::before, .div-extended-border .background::after{
    box-sizing: inherit;
    content: '';
}

.div-extended-border .background-animate {
    background-color: black;
    width: 100%;
    height: 100%;
    -webkit-transition: color 0.5s, width 0.5s ease-out, height 0.5s ease-out 0.5s;
    transition: color 0.5s, width 0.5s ease-out, height 0.5s ease-out 0.5s;
}
.div-extended-border .horizontal-animate {
    width: calc(100% + 35px);
    height: 100%;
    left: -17.5px;
    border-top: 2px solid #60daaa;
    border-bottom: 2px solid #60daaa;
    -webkit-transition: width 0.5s ease-out, height 0.5s ease-out 0.5s;
    transition: width 0.5s ease-out, height 0.5s ease-out 0.5s;
}
.div-extended-border .vertical-animate {
    width: 100%;
    height: calc(100% + 35px);
    top: -17.5px;
    border-left: 2px solid #60daaa;
    border-right: 2px solid #60daaa;
    -webkit-transition: width 0.5s ease-out, height 0.5s ease-out 0.5s;
    transition: width 0.5s ease-out, height 0.5s ease-out 0.5s;
}
