.expanding-text-button {
    letter-spacing: 5px;
    text-align: center;
    color: white;
    font-size: 25px;
    display: block;
    cursor: pointer;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}
.expanding-text-button:hover{
    color: white;
    text-decoration: none;
}
