.pdf-container {
    pointer-events: none;
}

.pdf-container .border-transition {
    background-color: black;
    transition: background-color 0.5s linear 0.5s;
}

.pdf-container .button {
    position: absolute;
    z-index: 2;
}
.pdf-container .button-active::after {
    border-bottom-color: transparent;
}

.pdf-container .pdf-background {
    position: relative;
    z-index: 1;
    background-color: black;
    border: 2px solid aqua;
    transition: all 0.25s ease-out;
}

.pdf-container .pdf {
    visibility: collapse;
    pointer-events: all;
}

.pdf-container .pdf-active {
    visibility: visible;
    position: relative;
    z-index: 2;
}
