#main {
    visibility: collapse;
}

#mainImageBorder, #mainImagesBackground, #mainImages {
    position: absolute;
    width: 750px;
    height: 422px;
    transform: translate(50%, 50%);
    right: 50%;
    bottom: 50%;
    z-index: 1;
    
}

#mainImagesBackground {
    background-color: black;
    z-index: 0;
}

#mainImages {
    z-index: 0;
}

#main a {
    letter-spacing: 5px;
    color: white;
    font-size: 23px;
    position: fixed;
    display: block;
    cursor: pointer;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}

#main a:hover {
    color: white;
    text-decoration: none;
}

#main a:nth-child(2) {
    transform: translate(50%, 50%);
    top: calc(50% - 271px);
    right: 50%;
}

#main a:hover:nth-child(2) {
    letter-spacing: 84px;
    right: calc(50% - 42px);
}

#main a:nth-child(3) {
    width: 90px;
    height: 28px;
    transform: translate(50%, 50%);
    transform: rotate(90deg);
    right: calc(50% - 445px);
    top: 50%;
}

#main a:hover:nth-child(3) {
    letter-spacing: 83px;
    width: 422px;
    right: calc(50% - 612px);
}

#main a:nth-child(4) {
    bottom: 10px;
    transform: translate(50%, 50%);
    right: 50%;
    bottom: calc(50% - 241px)
}

#main a:hover:nth-child(4) {
    letter-spacing: 102px;
    right: calc(50% - 42px);
}

#main a:nth-child(5) {
    width: 120px;
    height: 28px;
    transform: translate(50%, 50%);
    transform: rotate(-90deg);
    left: calc(50% - 465px);
    top: 50%;
}

#main a:hover:nth-child(5) {
    letter-spacing: 61px;
    width: 430px;
    left: calc(50% - 620px);
    top: calc(50% - 32px);
}

@keyframes imageBorderAnimation {
    0% {
        width: 0;    
    }
    1% {
        height: 10px;
    }
    50% {
        width: 750px;
        height: 10px;
        transform: translate(50%, 50%);
        right: 50%;
        bottom: 50%;
    }
    100% {
        height: 422px;
        transform: translate(50%, 50%);
        right: 50%;
        bottom: 50%;
    }
}

@keyframes letterSpacingAnimation {
    0% {
        letter-spacing: 
    }
    100% {
        letter-spacing: 50px;
    }
}

@keyframes letterSpacingReverseAnimation {
    0% {
        letter-spacing: normal;
    }
    100% {
        letter-spacing: 5px;
    }
}

































































